[submodule "apps/utils"]
	path = apps/utils
	url = https://github.com/Transkribus/TWI-utils.git
[submodule "apps/navigation"]
	path = apps/navigation
	url = https://github.com/Transkribus/TWI-navigation.git
[submodule "apps/querystring-parser"]
	path = apps/querystring-parser
	url = https://github.com/bernii/querystring-parser.git
[submodule "apps/querystring_parser"]
	path = apps/querystring_parser
	url = https://github.com/bernii/querystring-parser.git
[submodule "apps/edit"]
	path = apps/edit
	url = https://github.com/Transkribus/TWI-edit.git
