{% extends "navi_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="container read-container">
	<div class="row col-md-12">
		<h2>{{collection.colName}}</h2>
	</div>
	<div class="row col-md-8">
		<div class="row col-md-6">
			<div class="inner">
			{% if collection.subscribed %}
			<!--	<img src="{{collection.main_image}}" style="float: left;"/> -->
				<img src="{% static 'images/wolpertinger.jpg' %}"/>

			{% else %}
				<img src="{% static 'images/wolpertinger.jpg' %}"/>
			{% endif %}
			</div>
		</div>
		<div class="row col-md-6">
			<div class="inner">
				<p>{{collection.description}}</p>
					{% if not user.is_authenticated %}
						<a href="{% url 'login' %}?next={{request.path}}">Login or Register to subscribe to this project</a>
					{% else %}
						<a href="#" id="subscribe" data-colId="{{collection.colId}}" class="{% if collection.subscribed %}hide{%endif%}">Subscribe to this project</a>
						<a href="#" id="unsubscribe" data-colId="{{collection.colId}}" class="{% if not collection.subscribed %}hide{%endif%}">Unsubscribe from this project</a>
					{% endif %}
				{% if collection.crowdProject %}	
					<h3>{% trans 'Project schedule' %}</h3>
					<b>{% trans 'Project aim' %}</b>
					<p>{{collection.crowdProject.aim}}</p>

					{% for ms in collection.crowdProject.milestoneList.crowdProjectMilestones %}
					<h4>{% trans 'Milestone' %} - {{ms.title}} ({{ms.date|str_to_date|date:"jS F Y"}})</h4>
					<p><b>{% trans 'Due date' %}</b> : {{ ms.dueDate|str_to_date|date:"jS F Y"}} </p>
					<p>{{ms.description}}</p>	
					{% endfor %}
				{% endif %}	
			</div>
		</div>
	</div>
	<div class="row col-md-4">
		<div class="inner">
			<h4>Project News</h4>
			{% if collection.crowdProject %}	
				{% for ms in collection.crowdProject.messageList.crowdProjectMessages %}
				<b>{{ms.subject}} ({{ms.date|str_to_date|date:"jS F Y"}})</b>
				<p>{{ms.message}}</p>	
				{% endfor %}
			{% else %}
				<p>{% trans 'No news items for this collection'%}.</p>
			{% endif %}
		</p>
		</div>
	</div>
</div>

<div style="clear: both;"></div>

{% if collection.subscribed %}
	<h3>Documents</h3>
	<div class="container">
		<div class="row-fluid" id="documents">
		{% for doc in documents %}
		    <div class="col-md-2" data-colid="{{collection.colId}}" data-docid="{{doc.docId}}" style="text-align: center;"><canvas id="gauge_{{doc.docId}}" width="100" height="100" data-lines="{{doc.docStat.nrOfTranscribedLines}}" data-words="{{doc.docStat.nrOfWords}}"></canvas>
	<a href="{% url 'edit:correct' collection.colId doc.docId '1' %}" class="thumbnail"><div class="thumb_label">{{doc.title}}</div></a></div>
		{% endfor %}
		</div>
	</div>
 {% endif %}

{% endblock content %}
